<a href="https://colab.research.google.com/github/Omdena-Bhutan/introduction-assignment-tasdendu/blob/main/datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**4 Important DataTypes**
1. List
  - Collection of ordered, mutable, heterogenious and can accept duplicate.

In [55]:
# Definfing a list
numbers = [1,2,3,4]

In [56]:
print(numbers)

[1, 2, 3, 4]

In [57]:
type(numbers)

list

In [58]:
# Create a list of string - names
names = ["Tashi", "Pema", "Dorji", "Lhamo"]

In [59]:
names

['Tashi', 'Pema', 'Dorji', 'Lhamo']

In [60]:
# Heterogeneous list
mixed = [1, "Tashi", True, 20.6]

In [61]:
mixed

[1, 'Tashi', True, 20.6]

In [62]:
mixed[1]

'Tashi'

In [63]:
# Adding element into the list
# Add David to the list
names.append('David')
names

['Tashi', 'Pema', 'Dorji', 'Lhamo', 'David']

In [64]:
# Remve an element
names.remove('Lhamo')
names

['Tashi', 'Pema', 'Dorji', 'David']

Create a list of fruits - Apple, Banana, Cherry
- Add the element Mango in the list
- Remove element banana from the list
- Add an element Orange to be the first element in the list such that the resultant list will have - Orange, Apple, Cherry, Mango

In [65]:
# Create list called fruits
fruits = ['Apple', 'Banana', 'Cherry']
fruits

['Apple', 'Banana', 'Cherry']

In [66]:
# Add Mango into the list
fruits.append('Mango')
fruits

['Apple', 'Banana', 'Cherry', 'Mango']

In [67]:
# Remove Banana from the list
fruits.remove('Banana')
fruits

['Apple', 'Cherry', 'Mango']

In [68]:
# Add an element Orange to be the first element in the list such that the resultant list will have - Orange, Apple, Cherry, Mango
fruits.insert(0, 'Orange')
fruits

['Orange', 'Apple', 'Cherry', 'Mango']

2. Tuples
- Tuples are ordered and immutable sequences

In [69]:
# Create a tuple
my_tuple = (1, 'apple', 3, 'Tashi')

In [70]:
# Access elements
my_tuple[3]

'Tashi'

In [83]:
# Tuple are immutable
#my_tuple.append(9) -  This will throw and exceptions.

3. Dictionaries
- Unordered collections of key-value pairs.

In [72]:
# Create a dictionaries
student = {
  'name': "Tashi",
  'age': 30,
  'country': 'Bhutan'
}

In [73]:
student

{'name': 'Tashi', 'age': 30, 'country': 'Bhutan'}

In [74]:
# Accessing element in dictionaries.
student['name']

'Tashi'

In [75]:
# Adding elements to the dictoionary
student['major'] = 'B.Sc Computer Science'
student

{'name': 'Tashi',
 'age': 30,
 'country': 'Bhutan',
 'major': 'B.Sc Computer Science'}

In [77]:
# Remove age from dictionaries
student.pop('age')
student

{'name': 'Tashi', 'country': 'Bhutan', 'major': 'B.Sc Computer Science'}

4. Sets
- Unordered collections of mutable and unique elements.

In [78]:
# Create a sets
my_set = {6, 9, 1, 4, 2}
my_set

{1, 2, 4, 6, 9}

In [79]:
# Sets are unique - it does not alow for duplicates
set_numbers = {1, 2, 2, 2, 4, 3, 4, 6, 7, 8, 1, 3}
set_numbers

{1, 2, 3, 4, 6, 7, 8}

In [80]:
# Accessing the element,
for item in my_set:
  print(item)

1
2
4
6
9

In [81]:
# Adding elements
my_set.add(8)
my_set

{1, 2, 4, 6, 8, 9}

In [82]:
# Remove element from the sets
my_set.remove(4)
my_set

{1, 2, 6, 8, 9}