<a href="https://colab.research.google.com/github/Omdena-Bhutan/introduction-assignment-tasdendu/blob/main/datastructure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**4 Important DataTypes**
1. List
  - Collection of ordered, mutable, heterogenious and can accept duplicate.

In [14]:
# Definfing a list
numbers = [1,2,3,4]

In [15]:
print(numbers)

[1, 2, 3, 4]

In [16]:
type(numbers)

list

In [17]:
# Create a list of string - names
names = ["Tashi", "Pema", "Dorji", "Lhamo"]

In [18]:
names

['Tashi', 'Pema', 'Dorji', 'Lhamo']

In [19]:
# Heterogeneous list
mixed = [1, "Tashi", True, 20.6]

In [20]:
mixed

[1, 'Tashi', True, 20.6]

In [21]:
mixed[1]

'Tashi'

In [22]:
# Adding element into the list
# Add David to the list
names.append('David')
names

['Tashi', 'Pema', 'Dorji', 'Lhamo', 'David']

In [23]:
# Remve an element
names.remove('Lhamo')
names

['Tashi', 'Pema', 'Dorji', 'David']

Create a list of fruits - Apple, Banana, Cherry
- Add the element Mango in the list
- Remove element banana from the list
- Add an element Orange to be the first element in the list such that the resultant list will have - Orange, Apple, Cherry, Mango

In [24]:
# Create list called fruits
fruits = ['Apple', 'Banana', 'Cherry']
fruits

['Apple', 'Banana', 'Cherry']

In [25]:
# Add Mango into the list
fruits.append('Mango')
fruits

['Apple', 'Banana', 'Cherry', 'Mango']

In [26]:
# Remove Banana from the list
fruits.remove('Banana')
fruits

['Apple', 'Cherry', 'Mango']

In [27]:
# Add Orange to the first index.
fruits.insert(0, 'Orange')
fruits

['Orange', 'Apple', 'Cherry', 'Mango']